<footer class="footer">
   <div class="wrapper">
      <div class="footer-container">
         <div class="footer-container__top">

         </div>
         <div class="footer-container__bottom">
            <p class="footer-container__txt-bottom">Copyright © <span class="JSyear">2025</span> "GRom" | Wszelkie prawa zastrzeżone</p>
            <p class="footer-container__txt-bottom">Projekt i wykonanie: strony internetowe Poznań - <a href="https://www.craftis.pl" target="_blank" rel="noopener">www.craftis.pl</a></p>
         </div>
      </div>
   </div>
</footer>
<script src="./js/script.min.js"></script>
</body>

</html>