@use '../colors' as *;
@use '../mixins' as *;

.gallery {
	padding-top: 90px;

	&__container {
		width: calc(33.333% - 10px);
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, minmax(200px, 1fr));
		gap: 20px;

		@media (max-width: 916px) {
			grid-template-columns: repeat(3, minmax(200px, 1fr));
		}

		@media (max-width: 768px) {
			grid-template-columns: repeat(2, minmax(200px, 1fr));
		}

		@media (max-width: 512px) {
			grid-template-columns: repeat(1, minmax(200px, 1fr));
		}
	}

	&__link {
		display: block;
	}

	&__img {
		width: 100%;
		height: auto;
		display: block;
		object-fit: cover;
		display: inline-block;
		overflow: hidden;
		border-radius: 8px;
	}
}
