@use '../colors' as *;
@use '../mixins' as *;

.certificate-cta {
	@include ptb90;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 150px;

	@media (max-width: 1200px) {
		gap: 60px;
	}

	@media (max-width: 992px) {
		flex-direction: column-reverse;
		align-items: center;
	}

	&__img {
		width: 400px;
		height: 557px;
		max-width: 400px;
		max-height: 557px;
		width: 100%;
		height: auto;
	}

	&__cta {
		background-color: $yellow;
		padding: 90px 113px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;

		@media (max-width: 992px) {
			padding: 90px 90px;
		}

		@media (max-width: 475px) {
			padding: 60px 40px;
		}
	}

	&__h2 {
		@include h2;
		position: relative;

		&::after {
			position: absolute;
			content: '';
			left: 0;
			top: -2px;
			width: 40px;
			height: 40px;
			background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M35.5114%201.25208C31.7812%202.91012%2029.7696%205.86434%2028.8386%209.63301C32.1273%207.7427%2034.4753%205.05411%2035.5114%201.25208ZM7.46555%201.48668C8.67914%204.18028%2010.7212%206.35122%2013.4426%208.10254C13.5657%205.66379%2013.2926%203.44864%2012.5756%201.48676L7.46555%201.48668ZM24.9401%202.22942C22.7921%206.69215%2021.044%2011.2314%2019.6354%2015.8358C18.6166%2012.6918%2017.3448%209.59911%2015.7877%206.56395C15.807%209.41137%2016.0627%2012.1819%2016.5256%2014.885C13.4832%2012.1258%2010.2788%209.5027%206.89344%207.03192C9.23109%2010.4591%2011.7559%2013.67%2014.4434%2016.6925C12.373%2016.05%209.99734%2015.9%207.56219%2016.2261C9.09695%2017.3949%2010.8984%2018.4258%2012.8116%2019.0386C9.02852%2019.254%205.22984%2019.6498%201.41406%2020.2457C4.65703%2020.8586%207.88672%2021.2906%2011.1049%2021.5614C9.36386%2022.2637%207.65545%2023.0444%205.98492%2023.901C9.15742%2023.8795%2012.2347%2023.565%2015.2295%2022.9965C13.9216%2024.6947%2012.7573%2026.5248%2011.7146%2028.4675C13.7252%2027.2862%2015.6191%2025.9768%2017.3829%2024.524C16.406%2029.0746%2015.718%2033.6804%2015.2663%2038.3316C16.9577%2034.3795%2018.4729%2030.3634%2019.788%2026.2747C20.6694%2028.4682%2021.6784%2030.62%2022.8002%2032.7354C22.6064%2029.8183%2022.2533%2026.9335%2021.7226%2024.0846C25.3813%2027.4502%2029.2616%2030.5597%2033.322%2033.4609C30.2872%2029.4086%2027.0534%2025.5237%2023.5888%2021.8328C28.6802%2021.6376%2033.7456%2021.0859%2038.7901%2020.2457C35.0791%2019.7131%2031.3559%2019.3233%2027.619%2019.0914C29.1508%2018.4167%2030.6627%2017.6805%2032.1563%2016.8885C29.2996%2017.0781%2026.4737%2017.42%2023.6823%2017.9325C24.6476%2016.6356%2025.5275%2015.2772%2026.3163%2013.8661C25.0366%2014.493%2023.8015%2015.2072%2022.6197%2016.0036C23.6531%2011.5065%2024.4369%206.91887%2024.94%202.2295L24.9401%202.22942ZM38.6159%204.54387C34.8074%206.66926%2031.6475%209.94075%2029.246%2014.5712C32.8655%2014.4932%2035.9597%2013.563%2038.6158%2011.9411L38.6159%204.54387ZM1.98117%209.74028C1.88076%209.73955%201.77977%209.73994%201.6782%209.74145C3.56336%2012.5244%206.08695%2014.049%209.62727%2013.5723C7.70852%2010.9007%205.09648%209.76372%201.98117%209.74028ZM31.2062%2023.765C30.3837%2023.7627%2029.5321%2023.848%2028.6546%2024.0111C31.3835%2026.8599%2034.6734%2028.251%2038.7451%2027.609C36.7071%2024.9023%2034.1433%2023.7736%2031.206%2023.765H31.2062ZM8.88852%2025.5172C8.26289%2025.5175%207.65086%2025.5606%207.05477%2025.6203C5.06766%2025.8211%203.22719%2026.3695%201.53398%2027.2657V32.7865C4.51773%2031.2462%207.20148%2028.8936%209.51859%2025.5318C9.30703%2025.5217%209.09711%2025.517%208.88852%2025.517V25.5172ZM13.3984%2029.4121C9.45664%2031.2207%207.8568%2034.423%207.72891%2038.5015C11.0945%2036.4437%2013.1563%2033.5271%2013.3984%2029.4121ZM25.7159%2030.6421C25.7809%2033.6561%2026.5553%2036.2323%2027.906%2038.4441H34.0656C32.2958%2035.2729%2029.5717%2032.6418%2025.7159%2030.642L25.7159%2030.6421Z%22%20fill%3D%22%232F4269%22/%3E%3C/svg%3E');
		}
	}
}
