@use '../colors' as *;
@use '../mixins' as *;

.btn {
	@include text-header;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $yellow;
	background-color: transparent;
	padding: 10px 28px;
	border: 2px solid $yellow;
	transition: color 0.25s ease, background 0.4s ease;
	white-space: nowrap;
	align-self: flex-start;

	&:hover {
		color: $black;
		background-color: $white;
		border: 2px solid $white;
	}

	&--nav {
		margin-left: 34px;
	}

	&--white {
		border: 2px solid $white;
		color: $white;
	}

	&--black {
		border: 2px solid $black;
		color: $black;

		&:hover {
			color: $blue-dark;
			background-color: $yellow;
			border: 2px solid $yellow;
		}
	}
}

// animation

@keyframes mouse-anim {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-30px);
	}
}

.text-img {
	display: flex;
	justify-content: space-between;
	gap: 120px;
	width: 100%;

	&__h2 {
		@include h2;
	}

	&__txt {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__img {
		width: 100%;
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}

	@media (max-width: 1200px) {
		gap: 60px;
		&__txt {
			min-width: 500px;
		}
	}

	@media (max-width: 992px) {
		gap: 40px;
	}

	@media (max-width: 768px) {
		gap: 20px;
	}
}
