@use '../colors' as *;
@use '../mixins' as *;

// buttons

.btn {
	@include text-header;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $yellow;
	background-color: transparent;
	padding: 10px 28px;
	border: 2px solid $yellow;
	transition: color 0.25s ease, background 0.4s ease;
	white-space: nowrap;
	// align-self: flex-start;

	&:hover {
		color: $black;
		background-color: $white;
		border: 2px solid $white;
	}

	&--nav {
		margin-left: 34px;
	}

	&--white {
		border: 2px solid $white;
		color: $white;
	}

	&--black {
		border: 2px solid $black;
		color: $black;

		&:hover {
			color: $blue-dark;
			background-color: $yellow;
			border: 2px solid $yellow;
		}
	}

	&--black-to-black {
		border: 2px solid $black;
		color: $black;

		&:hover {
			color: $white;
			background-color: $black;
			border: 2px solid $black;
		}
	}
}

// animation for arrow down (header)

@keyframes mouse-anim {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-30px);
	}
}

// sections text-box & box-text

.section-background {
	background-color: $white;
}

.section-background, .section-transparent {
	@include ptb90;
	width: 100%;
}

.section-transparent {
	&:last-of-type {
		padding-bottom: 0;
	}
}

.text-img {
	display: flex;
	justify-content: space-between;
	gap: 120px;
	width: 100%;

	&--rev {
		flex-direction: row-reverse;
	}

	&__h2 {
		@include h2;
	}

	&__txt {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__img {
		max-width: 100%;
		height: auto;
		align-self: flex-start;
	}

	&__btn {
		align-self: flex-start;
	}

	&__ul-list {
		display: flex;
		flex-direction: column;
		padding-left: 35px;
		gap: 6px;
	}

	&__txt-head {
		padding-bottom: 12px;
		@include text-header;
	}

	@media (max-width: 1200px) {
		gap: 50px;

		&__txt {
			min-width: 480px;
		}
	}

	@media (max-width: 1148px) {
		flex-direction: column-reverse;
		gap: 30px;

		&__txt {
			min-width: 0;
		}

		&__img {
			align-self: center;
		}
	}
}

// cta section

.cta {
	@include ptb90;
}

.cta-box {
	background-color: $yellow;
	display: flex;
	align-items: center;
	flex-direction: column;
	@include ptb90;
	gap: 30px;

	&__h2 {
		@include h2;

		&::after {
			position: absolute;
			content: '';
			left: 0px;
			top: -5px;
			width: 36px;
			height: 36px;
			background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 41 41' fill='none'><path d='M31.3114 27.2875C32.6233 27.1447 33.5287 25.5761 33.3337 23.7841C33.1386 21.992 31.9169 20.655 30.605 20.7978C29.293 20.9406 28.3876 22.5092 28.5827 24.3012C28.7777 26.0933 29.9994 27.4303 31.3114 27.2875Z' fill='%233E4F72'/><path d='M14.764 11.0513C16.1237 10.9696 17.1394 9.46329 17.0327 7.68684C16.926 5.9104 15.7372 4.53652 14.3775 4.61821C13.0178 4.69989 12.002 6.20621 12.1088 7.98266C12.2155 9.75911 13.4043 11.133 14.764 11.0513Z' fill='%233E4F72'/><path d='M22.6187 10.0849C22.8218 8.3988 21.8901 6.89989 20.5378 6.73698C19.1854 6.57406 17.9244 7.80884 17.7213 9.49492C17.5182 11.181 18.4498 12.6799 19.8022 12.8428C21.1546 13.0057 22.4156 11.771 22.6187 10.0849Z' fill='%233E4F72'/><path d='M9.50365 12.2535C10.852 11.9362 11.5923 10.1798 11.1572 8.33035C10.7221 6.48089 9.27631 5.23877 7.92796 5.55599C6.57962 5.87321 5.8393 7.62965 6.27441 9.4791C6.70953 11.3286 8.15531 12.5707 9.50365 12.2535Z' fill='%233E4F72'/><path d='M28.7193 30.2247C33.5592 27.518 39.0974 31.3362 38.3703 34.2542C37.5887 37.3804 34.613 35.6956 32.3869 36.5092C31.0191 37.0089 28.9307 39.8148 26.5251 38.1012C24.4271 36.6053 25.561 31.9896 28.7193 30.2247ZM12.2232 12.9438C15.6826 12.0373 20.5065 14.7247 19.9555 17.7901C19.4366 20.6762 15.4263 19.4173 13.7991 20.0227C11.6787 20.8107 9.02007 23.1329 7.50819 20.8107C5.80413 18.1873 9.18663 13.7414 12.2232 12.9438Z' fill='%233E4F72'/><path d='M5.72917 15.8703C6.91037 15.1883 7.15446 13.3997 6.27436 11.8753C5.39427 10.351 3.72326 9.66807 2.54206 10.35C1.36087 11.032 1.11678 12.8206 1.99687 14.345C2.87697 15.8693 4.54798 16.5522 5.72917 15.8703Z' fill='%233E4F72'/><path d='M26.9615 29.207C28.1887 28.4985 28.4528 26.6586 27.5515 25.0974C26.6502 23.5363 24.9247 22.8451 23.6976 23.5536C22.4704 24.2621 22.2063 26.102 23.1076 27.6631C24.0089 29.2243 25.7344 29.9155 26.9615 29.207Z' fill='%233E4F72'/><path d='M23.4197 33.8292C24.496 33.0656 24.523 31.2547 23.48 29.7845C22.437 28.3142 20.7189 27.7414 19.6425 28.505C18.5662 29.2686 18.5392 31.0794 19.5822 32.5497C20.6252 34.0199 22.3433 34.5928 23.4197 33.8292Z' fill='%233E4F72'/><path d='M37.0416 28.1111C38.3535 28.0301 39.3334 26.6104 39.2303 24.9401C39.1271 23.2697 37.98 21.9813 36.6681 22.0623C35.3562 22.1433 34.3763 23.5631 34.4795 25.2334C34.5826 26.9037 35.7297 28.1921 37.0416 28.1111Z' fill='%233E4F72'/></svg>");
		}
	}
}
