@use '../colors' as *;
@use '../mixins' as *;

.header-pages {
   position: relative;
	padding-top: 90px;
	min-height: 333px;
	width: 100%;
	background-image: url('../assets/Hero-img-Psi-Hotel-Pila.jpeg');
	background-size: cover;
	background-position: 50% 38%;
	background-repeat: no-repeat;

	&::after {
		position: absolute;
		content: '';
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgb(9, 15, 55, 0.65);
	}
}

.header-pages-h2 {
   position: relative;
   margin-top: 90px;
   @include h1;
   color: $white;
   z-index: 1;
   max-width: 750px;
}