@use '../colors' as *;
@use '../mixins' as *;

.header-main-page {
   position: relative;
	height: 100vh;
	width: 100%;
	background-image: url('../assets/Hero-img-Psi-Hotel-Pila.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

   &::after {
      position: absolute;
      content: '';
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgb(9, 15, 55, .65);
   }
}

.header-main-p {
   
}