@use '../colors' as *;
@use '../mixins' as *;

.footer {
	padding-top: 90px;
	background-color: $blue;
}

.footer-container {
	display: flex;
	flex-direction: column;

	&__bottom {
		border-top: 1px solid $white;
		padding: 20px 0 25px 0;
		display: flex;
		justify-content: space-between;

      @media (max-width: 920px) {
         flex-direction: column;
         gap: 20px;
      }
	}

	&__txt-bottom {
		color: $white;
      font-size: 12px;

		a {
			text-decoration: none;
			color: $white;
         transition: all .3s ease;

			&:hover {
				color: $yellow;
			}
		}
	}
}
