@use './colors' as *;
@use './mixins' as *;

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Bold';
	src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	font-family: 'Poppins-Regular', sans-serif;
   line-height: 24px;
}

img {
	max-width: 100%;
	display: block;
}

.wrapper {
	width: 100%;
	max-width: 1288px;
	margin: 0 auto;
	padding: 0 20px;
}

.hold-body {
	overflow-y: hidden;
}