@use './colors' as *;

@mixin h1 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 36px;
	color: $white;
	line-height: 43px;
	letter-spacing: 2px;

	@media (max-width: 768px) {
		font-size: 28px;
		line-height: 35px;
		letter-spacing: 0px;
	}
}

@mixin h2 {
	font-family: 'Poppins-Bold', sans-serif;
	font-size: 28px;
	color: $black;
}

@mixin text-header {
	font-family: 'Poppins-Bold', sans-serif;
	font-size: 14px;
	color: $black;
}
