@use './colors' as *;
@use './mixins' as *;
@use './layout/assets' as *;
@use './layout/nav' as *;
@use './layout/footer' as *;
@use './layout/header-main-page' as *;
@use './layout/header-pages' as *;
@use './pages/main-page' as *;
@use './pages/animals-hotel' as *;
@use './pages/dogs-trainings' as *;
@use './pages/security' as *;
@use './pages/about-us' as *;
@use './pages/gallery' as *;
@use './pages/contact' as *;
@use './pages/rules-privacy-policy' as *;
@use './pages/404' as *;
@use './base' as *;

@media (max-width: 475px) {}   /* small smartphone */
@media (min-width: 576px) {}   /* smartphone */
@media (min-width: 768px) {}   /* tablet */
@media (min-width: 992px) {}   /* desktop */
@media (min-width: 1200px) {}  /* large desktop */